body {
  font-family: sans-serif;
  /*   border: 1px solid red;*/
  background: lightgray;
}
.card {
  width: 630px;
  height: 420px;
  overflow: hidden;
  border-radius: 13px;
  background: rgb(245, 241, 238);
  margin: 80px auto;
}
.card-1 {
  float: left;
  width: 315px;
  height: 420px;
  background: url("product-img\ —\ копия.png");
}
.card-2 {
  float: left;
  width: 255px;
  height: 360px;
  padding: 30px 30px;
}
h2 {
  margin: 0;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
}
h5 {
  margin-top: 0;
  color: rgb(157, 152, 145);
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 4px;
}
p {
  margin-top: 40px;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 28px;
  color: #777;
}
span {
  font-family: sans-serif, sans-serif;
  font-size: 35px;
  font-weight: 200;
}
button {
  float: right;
  width: 175px;
  height: 60px;
  background: rgb(165, 224, 207);
  border: none;
  color: beige;
  cursor: pointer;
  border-radius: 40px;
  font-size: 20px;
}
