* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: rgba(223, 232, 255, 0.5);
  background-image: cover;
}
.card {
  border-radius: 20px;
  width: 350px;
  height: 530px;
  margin: 70px auto;
  box-shadow: 0px 10px 20px #999;
}
.card-img {
  border-radius: 15px 15px 0 0;
  color: #fff;
  background-position: center;
  background-image: url("illustration-hero.svg");
  height: 170px;
  background-size: cover;
}
.card-text {
  text-align: center;
  border-radius: 10px;
  height: 300px;
  padding: 30px 20px;
  background-color: #fff;
}
h3 {
  color: black;
  margin-top: 10px;
  font-size: 20px;
  margin: 10px 0;
}
p {
  padding: 0 20px;
  font-size: 15px;
}
.plan {
  background-color: rgb(248, 249, 254);
  border-radius: 10px;
  width: 90%;
  height: 40px;
  margin: 30px 0;
  padding: 15px 15px;
}
.text {
  float: left;
  margin-left: 20px;
  text-align: left;
  display: block;
  margin-bottom: 5px;
}
.text-change {
  float: right;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
}
.icons {
  float: left;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: rgb(223, 229, 251);
}
.btn {
  margin: 20px auto;
  height: 40px;
  display: block;
  width: 100%;
  border-radius: 12px;
  border: none;
}
.btn-color {
  background-color: rgb(53, 40, 197);
  box-shadow: 0 10px 10px rgb(160, 152, 152);
  color: #fff;
}
.btn-light {
  background-color: none;
  background: transparent;
  font-weight: bold;
}
