* {
  margin: 0;
}
.home {
  height: 40px;
  background-image: cover;
  background: url(fondo.png), linear-gradient(to left, #3721b3, #973e44);
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}
.about {
  height: 40px;
  background-color: rgb(16, 139, 119);
  display: flex;
  background-image: cover;
  background: url(fondo1.jpg), linear-gradient(to left, #3721b3, #973e44);
  align-items: center;
  padding: 10rem;
}
.project {
  height: 40px;
  background-color: rgb(14, 49, 70);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}
.contact {
  height: 400px;
  background-color: rgb(225, 240, 24);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-content{  
  border-radius: 10px;  
  background-color: #524ca7; 
  width: 400px;
  padding: 20px;
}
header img {
  height: 75px;
  padding: 2.5px;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
}
header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding-right: 50px;
}
header {
  background:darkslateblue;
  position: fixed;
  z-index: 10;
  height: 80px;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: "Montserrat";
}
.logo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 200px;
  height: 150px;
}
ul li {
  list-style: none;
  padding: 10px;
}
ul li:hover {
  transform: scale(1.4);
  transition: all 0.3s ease-in-out;
}
.headerButton {
  text-decoration: none;
  border-radius: 10px;
  float: left;
  width: 200px;
  margin: 0px 2px;
  height: 50px;
  background: rgb(185, 45, 27);
  font-family: "Sans Serif", cursive;
  color: white;
  text-align: center;
  line-height: 48px;
  list-style: none;
  min-width: 30px;
  max-width: 100px;
}
a .botones:active {
  background: rgb(102, 14, 14);
}
main {
  padding-top: 80px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111827;
  font-family: "Roboto Slab";
}
h1 {
  font-size: 4rem;
  color: white;
}
h3 {
  color: white;
}
footer {
  height: 40px;
  background-color: rgb(3, 1, 1);
  display: flex;
  justify-content: center;
  padding: 10rem;
}
.btn{
  border-radius: 10px;
}
.btn:hover{
  background:rgba(241, 138, 21, 0.87);
}
.btn:active{
  background:rgba(30, 255, 1, 0.87);
}
#link{
  font-size: 20px;
  font-family: "Roboto Slab";
  text-decoration: none;
}