* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: rgb(16, 24, 39);
}
.container {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  flex-direction: column;
}
.nav {
  width: 100%;
  float: right;
}
h1 {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}
.btn-add {
  background: rgb(40, 105, 255);
  color: white;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 100px;
  font-weight: 400;
  float: right;
  cursor: pointer;
}
.search {
  margin-top: 10px;
  margin-left: 10px;
}
.search > * {
  background: rgb(30, 40, 60);
}
i {
  font-size: 15px;
  height: 30px;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  float: left;
  color: white;
}
.search > input {
  height: 30px;
  width: 400px;
  font-size: 15px;
  border-radius: 0 5px 5px 0;
  float: left;
  border: none;
  color: rgb(255, 255, 255);
}
.search > input:focus-visible {
  outline: none;
}
.row {
  display: flex;
  justify-content: center;
  width: 100%;
}
.card {
  background: #1d283c;
  width: 100%;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
}
.container .card:hover {
  transform: translateY(-10px);
  transition: all 500ms;
  box-shadow: 2px 1px 5px rgb(55, 55, 55);
  opacity: 0.7;
  cursor: pointer;
}
.card > .img {
  height: 150px;
  width: 95%;
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1 {
  background: url("img1.jpeg") center/cover;
}
.img2 {
  background: url("img2.jpeg") center/cover;
}
.img3 {
  background: url(img3.jpeg) center/cover;
}
.img4 {
  background: url(img4.jpeg) center/cover;
}
.img5 {
  background: url(img5.jpeg) center/cover;
}
.img6 {
  background: url(img6.jpeg) center/cover;
}
h5 {
  height: 30px;
  margin: 10px;
  margin-top: 30px;
  font-size: 22px;
  color: white;
}
h6 {
  color: gray;
  margin: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
}
.active {
  font-size: 15px;
  padding: 2px 7px;
  border-radius: 4px;
  color: rgb(40,160, 110);
  background: rgba(42, 160, 110, 0.1);
}
.disabled {
  font-size: 14px;
  padding: 2px 7px;
  border-radius: 4px;
  color: rgb(85, 108, 150);
  background: rgba(85, 108, 150, 0.1);
}
