* {
  margin: auto;
  padding: 0;
  /* border: 1px solid red; */
  box-sizing: border-box;
}
body {
  background: rgb(16, 16, 16);
}
div {
  border-radius: 10px;
  height: 500px;
  width: 60px;
  background-color: rgb(215, 207, 224);
  display: flex;
  flex-direction: column;
}
span {
  display: flex;
  margin: 1rem;
}
.icons{
  cursor: pointer;
}
.icons:hover{
  transform: translateY(-15px);
  transition: all 500ms;
}