* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

.main__container {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__container {
  width: 60%;
  height: 60%;
  border-radius: 3%;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.div__left {
  width: 50%;
  height: 100%;
  float: left;
  background-color: #eeab2e;
}
.div__rigth {
  width: 50%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div__rigth h2 {
  height: 10%;
  padding: 40px 0 0 0;
  font-size: 15px;
  width: 70%;
}
.titulo {
  color: #fff;
  height: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.titulo h1 {
  text-align: center;
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  flex-direction: column;
}
.box {
  height: 15%;
  width: 80%;
  border: 1px solid black;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.icon {
  display: inline-block;
  color: #fff;
  height: 100%;
  width: 10%;
  text-align: center;
}
.icon i {
  margin: 12px auto;
  background: none;
  font-size: 20px;
}
.face {
  background-color: #3b5999;
}
.tw {
  background-color: #55acee;
}
.google {
  background-color: #dd4b39;
}
.bh {
  background-color: #131418;
}
.icon__face {
  background-color: #355089;
}
.icon__tw {
  background-color: #4c9ad6;
}
.icon__G {
  background-color: #c64333;
}
.icon__BH {
  background-color: #131418;
}
.text {
  padding: 0 0 0 15px;
  font-weight: lighter;
}
form {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.input__form {
  height: 15%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px darkorange;
}
.input__form input {
  padding: 10px;
  border: none;
}
.icon__form {
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  width: 20%;
  text-align: end;
}
button {
  background-color: #84c233;
  padding: 5px;
  border: none;
  border-radius: 3px;
  width: 70%;
  height: 15%;
  color: #fff;
  font-weight: bold;
}
input:focus {
  outline: none;
}
