* {
    margin: 0;
}

.home {
    height: 40px;
    background-image: cover;
    background: url(fondo.png), linear-gradient(to left, #3721B3, #973E44);
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

header img {
    height: 75px;
    padding: 2.5px;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding-right: 50px;
}

header {
    background: #FAF7F7;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 10;
    height: 80px;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-family: 'Montserrat';
}

.logo {
    position: relative;
    top: 30px;
    left: 30px;
    width: 200px;
    height: 150px;
}

nav {
    position: relative;
    margin: auto;
    width: 900px;
    height: 48px;
}

ul li {
    list-style: none;
    padding: 10px;
}

ul li:hover {
    transform: scale(1.4);
    transition: all 0.3s ease-in-out;
}

.headerButton {
    border-radius: 10px;
    float: left;
    width: 196px;
    margin: 0px 2px;
    height: 50px;
    background: rgb(185, 45, 27);
    font-family: "Sans Serif", cursive;
    color: white;
    text-align: center;
    line-height: 48px;
    list-style: none;
    min-width: 30px;
    max-width: 100px;
}

a .botones:active {
    background: rgb(102, 14, 14);
}

main {
    padding-top: 80px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111827;
    font-family: 'Roboto Slab';
}

h1 {
    font-size: 4rem;
    color: white;
}

h3 {
    color: white;
}

footer {
    padding: 20px;
}